/* .App{
  width: 100%;
  height: 100%;
  background-color: royalblue;
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -20%);
}
form input{
  margin-bottom: 10px;
  text-align: center;
}
form  h3{
  text-align: center;
  margin-bottom: 10px;
}
form button{
  padding: 4px 20px;
  background-color: royalblue;
  color: white;
  font-family: 'Gilroy';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
}
form button:hover{
  box-shadow: 0px 3px 10px gray;
  cursor: pointer;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
section{
  width: 100%;
  height: 100%;
  background-color: rgb(197, 235, 253);
}

.App{
  width: 100%;
  height: 100%;
  padding: 5%;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}